.login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login_page h2 {
    font-size: 2rem;
    color: var(--white);
}
.login_form {
    padding: 4rem;
    background: var(--blue-300);
    border: 1px solid var(--grey-200);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
}