.search_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem 0.5rem 0.875rem;
    gap: 10px;
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    border-radius: 8px;
}
.search_container:focus-within, .search_container:hover {
    border: 1px solid var(--blue-500-main);
}
.input_container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.input {
    border: none;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 21px;
    color: var(--black);
    caret-color: var(--blue-500-main);
    width: 100%;
}
.input::placeholder {
    color: var(--grey-500);
}

.input:hover, input:focus {
    outline: none;
}